.ad_ads {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  margin-top: 1rem;
  padding-bottom: .654rem;
}
.ad_ads .form {
  width: 94%;
  height: auto;
  margin: 0 auto;
}
.ad_ads .form .info_list {
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.ad_ads .form .info_list .info_title {
  display: inline-block;
  width: 22%;
  height: 100%;
  line-height: 1rem;
  font-size: .26rem;
}
.ad_ads .form .info_list input {
  border: none;
  width: 70%;
  height: 80%;
  font-size: .26rem;
}
.ad_ads .form .setDefAds {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  font-size: .25rem;
}
.ad_ads .form .setDefAds input[type=checkbox] {
  display: none;
  width: .5rem;
}
.ad_ads .form .setDefAds input[type="checkbox"]:checked + label::before {
  background: url("../image/cicle_select.png") no-repeat center;
  background-size: contain;
}
.ad_ads .form .setDefAds label::before {
  content: "";
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: url("../image/cicle_noselect.png") no-repeat center;
  background-size: contain;
  vertical-align: middle!important;
  -webkit-border-radius: 50%;
  -webkit-box-sizing: border-box;
}
.ad_ads .form button {
  display: block;
  width: 5.63rem;
  height: 0.75rem;
  background-image: linear-gradient(0deg, #3981ff 0%, #afccff 100%);
  color: white;
  margin: .8rem auto 0;
}
