// out:false
.car{
  margin-top: 1rem;
	.car-box{
		padding-bottom: 0.85rem;
		.list-box{
			margin-top: 0.2rem;
		}
		.car-list{
			border-bottom: 1px solid #ccc;
			&:last-child{
				border-bottom: none;
			}
			.cart-checkbox{
				margin-right: 0.2rem;
			}
			.car-title{
				background-color: #fff;
				padding: 0.2rem;
				border-bottom: 1px solid #ccc;
				display: flex;
				align-items: center;
			}
			.car-content{
				width: 100%;
				background-color: #fff;
				padding: 0.2rem;
				display: flex;
				align-items: center;
				.img-box{
					width: 30%;
					img{
						width: 100%;
					}
				}
				.info-box{
					margin-left: 0.2rem;
					.info-desc{
						font-size: .21rem;
						color: #999;
						margin: 0.1rem 0;
					}
					.esc-count{
						display: flex;
						height: .5rem !important;
						width: 1.85rem;
						border: 1px solid #ccc;
						border-radius: .1rem;
						input{
							border: none;
							width: 40%;
							text-align: center;
							border-right:1px solid #ccc;
							border-left: 1px solid #ccc;
						}
						.cti{
							padding: 0;
							line-height: 0.5rem;
							width: 30%;
							text-align: center;
						}
					}
					.car-price{
						font-size: .26rem;
						color: #ff853e;
						margin: 0.1rem 0;
					}
				}
			}
		}
	}
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	height: 0.85rem;
	border-top: 1px solid #ccc;
	display: flex;
	// justify-content: space-between;
	.cart-checkbox{
		height: 0.85rem;
		padding: 0.2rem;
		padding-left: 20px;
		border-right: 1px solid #ccc;
		i{
			position: absolute;
			left: 0;
		}
	}
	.foot-total{
		flex-grow: 3;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: .2rem;
		padding-right: .2rem;
		.total-price{
			text-align: right;
		}
	}
	.foot-sure{
		background-color: #fb6400;
		color: #fff;
		line-height: 0.85rem;
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}
input[type=checkbox] {
	display: none;
}