// out:false
.car{
    width: 100%;
    height: 4rem;
    background: white;
    margin-bottom: 0.5rem
}
.round{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 1px #b6c4c4 solid;
    float: left;
    margin-top: 3.5%;
    margin-right: 10%;
    margin-left: 5%
}
.car-company{
    font-size: 0.3rem;
    width: 100%;
    height: 1rem;
    border-bottom: 0.5px #E0E0E0 solid;
    line-height: 1rem
}
.car-shopping{
    .shop-round{
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        border: 1px #b6c4c4 solid;
        float: left;
        margin-top: 19%;
    }
    img{
        width: 1.7rem;
        height: 1.7rem;
        margin-top: 8%;
        margin-left: 0.3rem;
        float: left;
    }

}
.details{
    width: 60%;
    height: 3rem;
    float: right;
    span{
        font-size: 0.27rem;
        margin-top: 0.1rem;
        display: block;
        word-break:break-all;
        display:-webkit-box;
        text-overflow:ellipsis;
        -webkit-line-clamp:1;
        -webkit-box-orient:vertical;
        overflow:hidden;
    }
    p{
        float: left;
        width: 100%;
        height: 0.5rem;
        font-size: 0.15rem;
        line-height: 0.5rem;
        color: #b6c4c4
    }
    h2{
        color: #FFCC00
    }
}
.esc_count{
    width: 2rem;
    border: 1px solid #ccc;
    border-radius: .1rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    .esc_sub{
        width: 29%;
        border-right: 1px solid #cccc;
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.7rem
    }
    .esc_number {
        border: none;
        height: 100%;
        font-size: .25rem;
        width: 40%;
        text-align: center;
        line-height: 0.7rem;
        float: left;
    }
    .esc_add {
        border-left: 1px solid #cccc;
        font-size: .5rem;
        width: 28%;
        text-align: center;
        float: left;
    }
   
}
.delete{
    border: none;
    background: white;
    float:right;
    color: #000;
}
.com{
    float: left;
}