// out:false
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../image/starBase.jpg") no-repeat center;
  background-size: 100% auto;
  overflow: scroll;
  .mint-header{
    background: none;
    color: white;
  }
}
.mint-tab-item{
  font-size: .26rem!important;
  color: #e2e2e2;
}
.mint-navbar{
  background: none;
  .mint-tab-item.is-selected {
    border-bottom: 3px solid rgba(192, 71, 255, 0.5);
    color: #c047ff;
    margin-bottom: -3px;
  }
}

.deal{
  margin-top: 1rem;
  font-size: 0.26rem;
  color: #b1b1b1;
  .image{
    margin-top: 0.2rem;
    width: 100%;
    text-align: center;
    img{
      width: 90%;
    }
  }
  ul{
    margin-top: 0.1rem;
    background:none;
    .list{
      width: 94%;
      margin: 0 auto;
      padding: 0.2rem 0;
      border-bottom: 0.5px solid rgba(204, 204, 204, 0.4);
      &:last-child{
        border-bottom: none;
      }
      .invit-match{
        .match-pop{
          .invit-info{
            margin-bottom: 0.2rem;
            &.isStar{
              margin-bottom: 0;
            }
            .invit-phone{
              color: #b1b1b1;
            }
            .invit-name{
              display: flex;
              align-items: center;
              color: #b1b1b1;
              span{
                color: #f0b026;
                margin-right: 0.1rem;
              }
            }

          }
          .invit-info,.invit-msg{
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
