// out:false
@import './swiper.less';
.details {
	overflow: hidden;
	margin-top: 0.85rem;
	padding-bottom: 0.85rem;
	.det-swiper{
		width: 100%;
		height: 6.2rem;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.det-info{
		padding: 0.15rem;
		background: #fff;
		h3{
			font-weight: normal;
			width: 100%;
			overflow : hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp:2;
			-webkit-box-orient: vertical;
		}
		.det-price {
			font-size: .22rem;
			color: #999;
			padding: 0.15rem 0;
      p{
        display: inline-block;
      }
			span{
				font-size: .3rem;
				color: #fb6400;
			}
			i{
				margin-left: .15rem;
				color: #555;
			}
		}
	}
	.det-format{
		margin-top: 0.2rem;
		padding: 0.2rem;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
	}
	.det-details{
		margin-top: 0.2rem;
		background-color: #fff;
		.details-title{
			text-align: center;
			width: 100%;
			padding: 0.2rem;
			position: relative;
			&::before{
				content: '';
				top: 50%;
				left: 30%;
				position: absolute;
				height: 0.77rem;
				width: 100%;
				background: url(../image/title_line.png) no-repeat;
				background-size: 40% 2px;
			}
		}
		.details-imgBox{
			width: 100%;
			img{
				display: block;
				width: 100%;
				margin: 0;
				vertical-align:top;
			}
		}
	}
}
.footer-box{
	position: fixed;
	overflow: hidden;
	bottom: 0;
	background-color: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 0.85rem;
	line-height: 0.85rem;
	font-size: .3rem;
	.buyicon{
		height: 0.85rem;
    width: 1rem;
		border-right: 1px solid #ccc;
    text-align: center;
    position: relative;
		//padding: 0 .4rem;
		i{
			margin-top: 0.15rem;
		}
    span{
      display: inline-block;
      width: .1rem;
      height: .1rem;
      color: white;
      text-align: center;
      line-height: .1rem;
      background: #fb6400;
      padding: .1rem;
      border-radius: 50%;
      font-size: .2rem;
      position: absolute;
      right: .1rem;
      top: 0rem;
    }
	}
	p{
		width: 33.3333%;
		height: 0.85rem;
		text-align: center;
		&.deta-buy{
			background-color: #fb6400;
			color: #fff;
		}
	}
}
.deta-pop{
	left: 0;
	right: 0;
	transform: translate3d(0, 0, 0);
	.spec-box{
		width: 100%;
		.spec{
			.spec-header{
				padding: 0.2rem;
				width: 100%;
				display: flex;
				border-bottom: 1px solid #ccc;
				.spec-imgBox{
					width: 30%;
					margin-top: -0.8rem;
					img{
						width: 100%;
						border: 1px solid #ccc;
						border-radius: 5px;
					}
				}
				.spec-info{
					margin-left: 0.2rem;
					color: #999;
					p{
						margin-bottom: 0.1rem;
            i{
             font-style: normal;
            }
					}
					p:last-child{
						margin-bottom: 0;
					}
					.spec-pic{
						color: #fb6400;
						font-size: 0.27rem;
					}
					.spec-sgk{
						color: #555;
					}
					.spec-num{
						color: #000;
					}
				}
			}
			.spec-con{
				border-bottom: 1px solid #ccc;
				.goods-sku{
					p{
						font-size: 0.25rem;
						padding: 0.2rem 0;
					}
					.goods-skuColor{
						padding: 0 0.2rem 0.1rem;
						border-bottom: 1px solid #ccc;
						.con-gg{
							span{
								display: inline-block;
								padding: 0.2rem;
								border: 1px solid #ccc;
								border-radius: 0.15rem;
								margin-bottom: .15rem;
								margin-right: .1rem;
								&.active{
									background-color: #fb6400;
									color: #fff;
								}
							}
						}
					}
					.con-buy{
						padding: 0 0.2rem;
						.esc-count{
							display: flex;
							height: .5rem !important;
							width: 1.85rem;
							margin-bottom: 0.2rem;
							border: 1px solid #ccc;
							border-radius: .1rem;
							input{
								border: none;
								width: 40%;
								text-align: center;
								border-right:1px solid #ccc;
								border-left: 1px solid #ccc;
							}
							.cti{
								padding: 0;
								line-height: 0.5rem;
								width: 30%;
								text-align: center;
							}
						}
					}
				}
			}
			.spec-foot{
				width: 100%;
        div{
          width: 100%;
          height: .8rem;
          display: flex;
          justify-content: space-between;
          p{
            width: 50%;
            text-align: center;
            font-size: .27rem;
            line-height: .8rem;
          }
          p:nth-child(2){
            background: #fb6400;
            color: white;
          }
        }
				.default-btn{
					width: 100%;
					background-color: #fff;
					border: none;
					box-shadow: 0 0 0;
					color: #fb6400;
				}
			}
		}
	}
}
