// out:false
.firInvit{
  position: absolute;
  width: 100%;
  top: 0.84rem;
  .invit-list{
    background-color: #fff;
    margin-top: 0.19rem;
    .invit-mismatch{
      padding: 0.26rem;
      border-bottom: 0.5px solid #ccc;
      &:last-child{
        border-bottom: 0;
      }
    }
    .invit-info,.invit-msg{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .invit-info{
      font-size: 0.26rem;
      margin-bottom: 0.3rem;
    }
    .invit-msg{
      font-size: 0.22rem;
      color: #999;
      .bronze{
        color:  rgba(78, 204, 155, 0.8);
      }
      .silver{
        color: rgba(57, 129, 255, 0.8);
      }
      .gold{
        color: rgba(236, 191, 82, 0.8);
      }
      .brilliant{
        color: rgba(236, 100, 82, 0.8);
      }
    }
    .invit-match{
      font-size: 0.26rem;
      .match-header{
        display: flex;
        justify-content: space-between;
        color: #666;
        border-bottom: 0.5px solid #ccc;
        padding: 0.26rem;
      }
      .match-pop{
        padding: 0.26rem;
        border-bottom: 0.5px solid #ccc;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}