// out:false
.mint-header{
  background-color: rgba(30, 28, 75, 0.11);
  color: #fff;
}
.friend{
  .friend-con{
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../image/starBase.jpg) no-repeat;
    background-size: cover;
    overflow: scroll;
    h3{
      margin-top: .9rem;
      color: white;
      p{
        text-align: center;
      }
      .p1{
        font-size: .6rem;
        padding-bottom: .2rem;
      }
      .p2{
        font-size: .24rem;
        letter-spacing: .1rem;
      }
    }
  }
  .invit-pop{
    width: 5.85rem;
    height: 8.5rem;
    background: url(../image/QR_bg.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    margin: 0.3rem auto 0;
    .invit-tit{
      width: 80%;
      margin-top: 0.5rem;
    }
    .friend-box{
      padding-top: .25rem;
      .friend-txt{
        font-size: .24rem;
        color: #0e113e;
      }
      .friend-int{
        display: block;
        width: 100%;
        border: none;
        //margin-top: 0.45rem;
        background-color: transparent;
        font-size: 0.67rem;
        color: #0e113e;
        text-align: center;
        outline:none;
      }
      .copy-btn{
        display: block;
        width: 1.82rem;
        height: 0.68rem;
        line-height: 0.68rem;
        margin: 0.2rem auto 0;
        background:url(../image/speed-btn.png);
        background-size: cover;
        color: #fff;
        border: none;
      }
    }

    .invit-desc{
      margin-top: .2rem;
      p{
        line-height: .4rem;
        font-size: .24rem;
      }
    }
    .invit-line{
      margin: 0rem auto;
      width: 80%;
      border-bottom: 1px dashed #ccc;
    }
    .invit-qr{
      line-height: 0.41rem;
      margin-top: .2rem;
      .invit-img{
        text-align: center;
        padding-top: 0.22rem;
        .img{
          width: 3rem;
          height: 3rem;
          display: block;
          margin: 0 auto;
        }
        p{
          margin-top: .15rem;
          font-size: .25rem;
        }
      }
    }
  }
}
.relatShare{
  background: url('../image/starBase.jpg') no-repeat;
  background-size: cover;
  h3{
    margin-top: .5rem!important;
  }
}
.save-btn-box{
  position: fixed;
  bottom: .5rem;
  width: 100%;
  height: auto;
  left: 0;
  text-align: center;
  button{
    border-radius: .1rem;
    border: none;
    background: url('../image/speed-btn.png') no-repeat;
    color: white;
    width: 1.82rem;
    height: 0.68rem;
    line-height: 0.68rem;
    margin: 0.2rem auto 0;
    background-size: cover;
    font-size: .26rem;
  }
}
