// out:false
// 轮播
.mint-swipe-indicators {
  left: 50%;
  bottom: 0;
  display: inline-block;
}
.mint-swipe-indicator{
  border-radius: 50%;
  width: 0.15rem;
  height: 0.15rem;
  background: #dedede;
  opacity: 1;
}
.mint-swipe-indicator.is-active {
  background-color: #0191d7;
}
//
.mint-tabbar {
  background-color: #fff;
  background-size: 100% 0;
  .mint-tab-item {
    .mint-tab-item-icon {
      width: 30px;
      height: 30px;
    }
  }
}
// 页面切换
.mint-navbar {
  .mint-tab-item-label{
    font-size: 0.25rem
  }
}
// 搜索框
.mint-searchbar{
  background-color: #fff;
}
.mint-searchbar-cancel,.mint-searchbar-core{
  font-size: 0.24rem;
}
.mint-searchbar-inner{
  background: rgb(237,237,237);
  .mintui-search{
    font-size: 0.26rem;
    margin-right: 0.1rem;
  }
  .mint-searchbar-core{
    background: rgb(237,237,237);
  }
}
// toast
.mint-toast{
  z-index: 10000;
}
// button
.mint-button::after{
  background-color: #fff;
}
.mint-tab-item-label{
  font-size: .23rem!important;
}
