// out:false
.giftOrder{
  margin-top: 1rem;
  .address{
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    .address-detail{
      margin: 0 0.2rem;
    }
  }
  .gift-detail{
    padding: 0.2rem;
    background-color: #fff;
    border-bottom: 0.5px solid #ececec;
   /* display: flex;
    align-items: center;*/
    overflow: hidden;
    .image{
      width: 2rem;
      float: left;
      img{
        width: 100%;
      }
    }
    .gift-desc{
      width: 3.9rem;
      //margin-left: 0.2rem;
      float: right;
      p{
        font-size: .26rem;
        padding-bottom: .1rem;
      }
      span{
        color: #ccc;
      }
      .price{
        color: #e79e56;
        padding-top: .2rem;
      }
    }
  }
  .gift-list{
    background-color: #fff;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    .item-input{
      display: flex;
      align-items: center;
      input{
        border: none;
        color: #e79e56;
        text-align: right;
      }
    }
  }
}
.mint-popup-bottom {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0%, 0, 0);
  .payment{
    padding: 0.2rem;
    ul{
      li{
        padding: 0.2rem;
        width: 50%;
        border: 1px solid #ececec;
        margin: 0 auto 0.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          margin-right: 0.2rem;
        }
      }
    }
  }
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  .footer-price{
    display: flex;
    padding: 0.2rem;
  }
  .button{
    padding: 0.2rem;
    color: #fff;
    background-color: #eb881f;
  }
}
.giftBagList{
  width: 6.4rem;
  height: 11.38rem;
  margin: 0 auto;
  overflow: scroll;
  background: black;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
  button{
    display: block;
    width: 4.5rem;
    height: .7rem;
    border-radius: .3rem;
    margin: .5rem auto;
    background: none;
    border: 1px solid #a100a1;
    color: white;
    font-size: .27rem;
    outline: none;
  }
}
