//out:false
.index{
  .index-bg{
    position: relative;
    img{
      width: 100%;
    }
    .index-classfiy{
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -160px;
      width: 270px;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 5px 5px 5px #ddd;
      .list{
        display: flex;
        justify-content: space-between;
        li{
          img{
            width: 40%;
          }
        }
      }
    }
  }
}