// out:false
.mint-header{
  background-color: #1e1c4b;
  font-size: 0.28rem;
  height: 0.85rem; 
}
.miji{
  img{
    width: 100%;
  }
  .miji-content{
    position: absolute;
    top: 40px;
    .miji-tit{
      margin: 0.5rem auto;
      margin-bottom: 0;
      text-align: center;
      img{
        width: auto;
        height: 0.27rem;
      }
    }
    .miji-desc{
      margin-top: 0.3rem;
      padding: 0.26rem;
      padding-top: 0;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}