.star-secret-container{
  margin-top: .85rem;
  border-top: 1px rgba(255, 255, 255, 0) solid;
  .time-line-center{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    //background: #ff853e;
    .time-line-div{
      position: relative;
      width: 100%;
      height: 2.5rem;
      &.time-line-div1{
        .time-line-txt{
          right: 0;
          background: #f44556;
          &.time-line-txt::before{
            background: #f44556;
            left: -20%;
          }
        }
      }
      &.time-line-div2{
        margin-top: -0.3rem;
        .time-line-txt{
          left: 0;
          background: #e97e2e;
          &.time-line-txt::before{
            background: #e97e2e;
            right: -20%;
          }
        }
      }
      &.time-line-div3{
        margin-top: -0.3rem;
        .time-line-txt{
          right: 0;
          background: #13afae;
          &.time-line-txt::before{
            background: #13afae;
            left: -20%;
          }
        }
      }
      &.time-line-div4{
        margin-top: -0.3rem;
        padding-bottom: .5rem;
        .time-line-txt{
          left: 0;
          background:#105572 ;
          &.time-line-txt::before{
            background: #105572;
            right: -20%;
          }
        }
      }&.time-line-div5{
         margin-top: -0.8rem;
         .time-line-txt{
           right: 0;
           background: #6da9f4;
           &.time-line-txt::before{
             background: #6da9f4;
             left: -20%;
           }
         }
       }
      &.time-line-div6{
        margin-top: -0.3rem;
        .time-line-txt{
          left: 0;
          background: #599a07;
          &.time-line-txt::before{
            background: #599a07;
            right: -20%;
          }
        }
      }
      &.time-line-div7{
        margin-top: -0.3rem;
        .time-line-txt{
          right: 0;
          background: #176daf;
          &.time-line-txt::before{
            background: #176daf;
            left: -20%;
          }
        }
      }
      &.time-line-div8{
        margin-top: -0.3rem;
        padding-bottom: .5rem;
        .time-line-txt{
          left: 0;
          background:#7e6f94 ;
          &.time-line-txt::before{
            background: #7e6f94;
            right: -20%;
          }
        }
      }

      .time-line-txt{
        position: absolute;
        width: 1.8rem;
        height: 3rem;
        top: -0.25rem;
        color: white;
        font-family: '幼圆';
        &.time-line-txt::before{
          content: "";
          width: 20%;
          height: .2rem;
          position: absolute;
          top: 50%;
          z-index: -1;
          transform: translateY(-50%);
        }
        .time-line-txt-title{
          font-size: .26rem;
          text-align: center;
          padding-top: .1rem;
          font-weight: bolder;
        }
        .time-line-txt-center{
          font-size: .21rem;
          text-indent: 2em;
          margin-top: .1rem;
          padding: 0 .1rem;
        }
      }
      .time-line-icon{
        width: 2.5rem;
        height: 2.5rem;
        border: .3rem solid transparent;
        box-sizing: border-box;
        transform: rotate(45deg);
        border-radius: 50%;
        position: absolute;
        left: 1.95rem;
        top: 0;
        &.time-line-icon1{
          border-top-color: #f44556;
          border-right-color: #f44556;
        }
        &.time-line-icon2{
          border-bottom-color: #e97e2e;
          border-left-color: #e97e2e;
        }
        &.time-line-icon3{
          border-top-color: #13afae;
          border-right-color: #13afae;
        }
        &.time-line-icon4{
          border-bottom-color: #105572;
          border-left-color: #105572;
        }
        &.time-line-icon5{
          border-top-color: #6da9f4;
          border-right-color: #6da9f4;
        }
        &.time-line-icon6{
          border-bottom-color: #599a07;
          border-left-color: #599a07;
        }
        &.time-line-icon7{
          border-top-color: #176daf;
          border-right-color: #176daf;
        }
        &.time-line-icon8{
          border-bottom-color: #7e6f94;
          border-left-color: #7e6f94;
        }
        span{
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin: .2rem;
          text-align: center;
          line-height: 1.5rem;
          border-radius: 50%;
          transform: rotate(-45deg);
          font-size: .3rem;
          font-weight: bolder;
          box-shadow: 0 0 20px rgba(0,0,0,0.4);
        }
      }
    }
  }
}
